<div class="container">
    <div class="row">   
        <div class="col-md-6">
            <div class="card" style="width: 18em; height:50% ;" routerLink="/detail/aws" style="cursor: pointer;">
                <img class="card-img-top" src="../../assets/images/aws.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">AWS Session</h5>
                  <p class="card-text">Amazon Web Services is a subsidiary of Amazon that provides on-demand cloud computing platforms to individuals, companies, and governments, on a metered pay-as-you-go basis.</p>
                </div>
              </div>
        </div>
        <div class="col-md-6">
            <div class="card" style="width: 18em;height:50% ;" routerLink="/detail/java" style="cursor: pointer;">
                <img class="card-img-top" src="../../assets/images/java.png" height="277"  alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">JAVA Session</h5>
                  <p class="card-text">Java is a general-purpose programming language that is class-based, object-oriented, and designed to have as few implementation dependencies as possible.</p>
                </div>
              </div>
        </div>
    </div>
</div>



  