
<div class="container makerting">

    <div class="row">
        <div class="col-lg-4"  *ngFor="let item of values;index as j">
            <img class="bd-placeholder-img" (click)="openXl(item.share_url)" style="cursor: pointer" 
            data-toggle="tooltip" data-html="true" title="Click to watch this {{item.topic }} video "
            width="350" height="150"  [src]="imagesView" alt="">
            
            <h2 (click)="openXl(item.share_url)" style="cursor: pointer">{{ item.topic }} - {{ item.start_time | date:'medium' }}</h2>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies
                vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo
                cursus magna.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        
    </div>
</div>
